<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Chat App</title>
  </head>
  <body>
    <h1>My Chat App</h1>
    <h3>Hi {{ username}} !</h3>
    <h3>My rooms</h3>
    <ul>
      {% for room in rooms %}
      <li><a href="/rooms/{{ room.room_id }}">{{ room.room_name }}</a></li>
      {% endfor %}
    </ul>
    <br />
    <form action="/chat">
      <div>
        <label>Enter your username:</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label>Enter room id:</label>
        <input type="text" name="room" />
      </div>
      <button type="submit">Submit</button>
    </form>
    <br />
    <form action="/create-room" method="get">
      <button type="submit">Create Room</button>
    </form>
    <br />
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
